#warp {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff82;

}

.header_in {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header_in a {
    float: left;
    margin-top: 30px;
    width: 190px;
    height: 16px;
}


#nav {
    display: inline-block;
    text-align: center;
    margin-left: 102px;
}

.menu {
    width: 531px;
    display: flex;
    display: inline-block;
    text-align: center;
}

.menu li {
    display: inline-block;
    position: relative;
    padding: 0 30px;
}

.menu a {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 34px;
    color: #000;
    font-weight: 800;
}

#nav .sub1 {
    position: absolute;
    max-width: 100%;
    text-align: center;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
}

#nav .sub2 {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
}

#nav .sub3 {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
}

#nav .sub4 {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    height: auto;
}

#nav .sub li {
    width: 100%;
    height: 50px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.sub li a {
    margin: 10px auto;
    float: left;
    display: block;
    width: 100%;
}

#nav .sub li.act a {
    color: #000;
    transition-duration: 1s;
}

#nav .sub li:hover {
    width: 100%;
    height: 50px;
}


.btn {
    margin-left: 102px;
    display: inline-block;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.btn .all {
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
    /* background: url(../images/ic_search.png) no-repeat 90% 50%; */
    background-color: #090b0c6a;
    font-weight: 500;
}

#main {
    width: 100%;
    height: 776px;

}

.main_in {
    width: 100%;
    margin: 0 auto;
    height: 776px;
}

.main_in img {
    width: 100%;
    height: 776px;
}
.firstslide{
    width: auto;
}

.firstslide .subtitle {
    position: absolute;
    top: 300px;
    left: 350px;
    font-size: 60px;
    text-shadow: 2px 2px 6px rgb(27, 27, 27);
    color: #fff;
    font-weight: bold;
}
.firstslide .maintitle {
    position: absolute;
    top: 400px;
    left: 350px;
    font-size: 25px;
    font-weight: 100;
    text-shadow: 2px 2px 6px rgb(27, 27, 27);
    color: #fff;
}

#announcement {
    margin: 0px auto;
    width: 100%;
    height: 935px;
    margin-top: 150px;
}

.announcement_in {
    width: 1200px;
    height: 935px;
    margin: 0px auto;
    text-align: center;

}

.title {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.title h3 {
    display: inline-block;
    font-size: 50px;
}

.inquiry_in {
    text-align: center;
    position: relative;
    float: right;
    top: -60px;
    width: 224px;
    height: 47px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #264A80;
    color: #fff;
    line-height: 43px;
}

.title2 {
    margin: 0px auto;
    height: 56px;
    border: 1px solid #000;
    background-color: #264A80;
    margin-top: 46px;

}

.title2 .all {
    text-align: center;
    width: 152px;
    height: 29px;
    margin: 10px 0 0 35px;
    float: left;
    border-radius: 10px;
}

.title2 .search {
    text-align: center;
    width: 745px;
    height: 29px;
    float: left;
    margin: 10px 0 0 35px;
    border-radius: 10px;
}

.contents {
    width: 100%;
    height: 935px;
}

.tab {
    margin: 50px 0 50px 0;
}

.tab ul {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.tab ul li {
    float: left;
    width: 181px;
}

.tab li a {
    display: block;
    text-align: center;
    line-height: 47px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    background-color: #264A80;
    border-radius: 10px;
}

.post {
    border-top: 1px solid #898989;
}

.list .area {
    overflow: hidden;
    border-top: 1px solid #e1e1e1;
    line-height: 1.4;
}

.post .list {
    border-bottom: 1px solid #898989;
}

.post .list a {
    display: block;
    padding: 20px 50px 20px 20px;
    height: 24px;
}

.text {
    float: left;
    position: relative;
    padding: 3px 0 0px 48px
}

.text strong {
    font-size: 18px;
    color: #333;
    margin: 0 100px;
}

.text .day1 {
    position: relative;
    left: 200px;
    top: -5px;
    color: #7D7D7D;
}

.text .day2 {
    position: relative;
    left: 133px;
    top: -5px;
    color: #7D7D7D;
}

.text .day3 {
    position: relative;
    left: 246px;
    top: -5px;
    color: #7D7D7D;
}

.text .day4 {
    position: relative;
    left: 186px;
    top: -5px;
    color: #7D7D7D;
}

.box {
    color: #898989;
    border: 1px solid #898989;
    padding: 0 6px;
    width: 84px;
    height: 31px;
    margin: 0 100px 10px 0;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 31px;
    font-weight: bold;
    text-align: center;
}

.box3 {
    color: #e17350;
    border: 1px solid #e17350;
    padding: 0 6px;
    width: 84px;
    height: 31px;
    margin: 0 100px 10px 0;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 31px;
    font-weight: bold;
    text-align: center;
}

.box4 {
    color: #9b3add;
    border: 1px solid #9b3add;
    padding: 0 6px;
    width: 84px;
    height: 31px;
    margin: 0 100px 10px 0;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 31px;
    font-weight: bold;
    text-align: center;
}


#consumer {
    margin: 0px auto;
    width: 1200px;
    margin-top: 150px;
}

#consumer .cnumr {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.cnumr>li {
    width: 560px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}



.cnumr_in {
    background: url(../images/ico_number01.png) no-repeat 30px 50%;
    border: 1px solid #ccc;
    width: 100%;
    display: table;
    max-width: 100%;
}


.cnumr_in2 {
    background: url(../images/ico_number02.png) no-repeat 30px 50%;
    border: 1px solid #ccc;
    width: 100%;
    display: table;
    max-width: 100%;
}


#consumer li .cnumr_in,
#consumer li .cnumr_in2 {
    display: table-cell;
    vertical-align: middle;
    width: 580px;
    height: 136px;
    padding: 0 0px 0 130px;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 18px;
    text-align: left;
}

#consumer li .cnumr_in span,
#consumer li .cnumr_in2 span {
    color: #222;
    font-size: 20px;
    font-weight: 500;
}

#agency {
    margin-top: 230px;
    width: 100%;
    height: 632px;
    background-image: url(../images/pawel-czerwinski-INK9-Idjm3E-unsplash.jpg);
    background-size: 1920px;
}

#agency .agencey_in {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    height: 632px;
        align-items: center;

}


#agency .aec {
    width: 1200px;
    margin-left: -20px;

}

.aec>li {
    width: 33.3333%;
    box-sizing: border-box;
    padding-left: 20px;
    float: left;
    text-align: center;
    height: 131px;
}


.aec_in {
    background: url(../images/bg_main_btn01.png) no-repeat 28px 50%;
    width: 100%;
    display: table;
    max-width: 100%;
    border-radius: 5px;
    height: 131px;
}

#agency .aec01 .aec_in a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 131px;
    padding: 0 50px 0 90px;
    box-sizing: border-box;
    line-height: 24px;
    color: #004ba9;
    font-size: 18px;
    text-align: left;
    background: url(../images/icon01.png) no-repeat 5% 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}

#agency .aec02 .aec_in a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 131px;
    padding: 0 50px 0 90px;
    box-sizing: border-box;
    line-height: 24px;
    color: #004ba9;
    font-size: 18px;
    text-align: left;
    background: url(../images/icon02.png) no-repeat 5% 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}

#agency .aec03 .aec_in a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 131px;
    padding: 0 50px 0 90px;
    box-sizing: border-box;
    line-height: 24px;
    color: #004ba9;
    font-size: 18px;
    text-align: left;
    background: url(../images/icon03.png) no-repeat 5% 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}


#company {
    width: 100%;
    height: 360px;
    margin-top: 80px;
}


.company_img {
    width: 1200px;
    height: 360px;
    position: relative;
    margin: 0 auto;
}

.company_img li {
    width: 100%;
    height: 360px;
    position: absolute;
}

.company_img li img {
    display: block;
    width: 1200px;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
}

#company .company_img ul li:not(:first-child) {
    opacity: 0;
}
#footer {
   
    margin-top: 0px;
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;height: 301px;
    background-color: #303030;
}

.footer_in {
    width: 1200px;
    margin: 0 auto;

}

.footer_l {
    display: inline-block;
    width: 366px;
}

.footer_l .footer_info {
    width: 366px;
    height: auto;
    line-height: 25px;
}

.footer_in ul {
    height: 30px;
    line-height: 30px;


}

.footer_in li {
    display: block;
    float: left;
    color: #777;
}

.footer_info2 {
    width: 394px;
    height: 130px;
    line-height: 20px;
}


.footer_logo {
    margin-top: 10px;
    width: auto;
    height: auto;
}


.footer_r {
    float: right;
    position: relative;
    top: 60px;
}

.footer_r .sns {
    width: 220px;
    display: flex;
    justify-content: space-evenly;
}

.footer_r .family_site {
    top: 30px;
    width: 220px;
    height: 48px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    background: black;
    display: block;
    z-index: 110;
    top: 45px;
}

.family_site>a {
    display: block;
    height: 48px;
    color: #8E8D8D;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 29px;
    line-height: 44px;
    font-size: 20px;
}